@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  min-height: 100vh;  /* supaya tinggi minimal 1 layar */
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Roboto, Helvetica, sans-serif;
  width: 100%;
  height: 100%;
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  background-color: #f8fafc;
}

.split-char {
  color: var(--hex-current-1);
  background-color: var(--hex-current-3);
  outline: 1px solid var(--hex-current-2);
  border-radius: .25rem;
}

li {
  cursor: pointer;
}

li:hover {
  text-underline-offset: 2px;
  text-decoration-line: underline;
}

.inputStyle {
  background-color: #dce1ec;
  width: 100%;
  height: 70%;
  padding-left: 1%;
}

.inputStyle:focus {
  border: 1px solid #c53aef;
}

.buttonAdmin {
  border: 1px solid #333;
  border-radius: 100px;
  background: linear-gradient(#4d4d4d, #1a1a1a);
  background-image: 
    linear-gradient(#4d4d4d, #1a1a1a),
    repeating-linear-gradient(
      45deg,
      rgba(255,255,255,0.05) 0,
      rgba(255,255,255,0.05) 2px,
      transparent 2px,
      transparent 4px
    );
  color: #fff;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.8);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1),
              0 2px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.buttonAdmin:hover {
  background: linear-gradient(#5a5a5a, #2a2a2a);
  background-image: 
    linear-gradient(#5a5a5a, #2a2a2a),
    repeating-linear-gradient(
      45deg,
      rgba(255,255,255,0.08) 0,
      rgba(255,255,255,0.08) 2px,
      transparent 2px,
      transparent 4px
    );
  transform: translateY(-1px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.25);
}

.buttonDelete {
  border: 1px solid #8b0505;
  border-radius: 100px;
  background: linear-gradient(#ca3131, #3d0000);
  background-image: 
    linear-gradient(#ca3131, #3d0000),
    repeating-linear-gradient(
      45deg,
      rgba(100, 5, 5, 0.05) 0,
      rgba(255,255,255,0.05) 2px,
      transparent 2px,
      transparent 4px
    );
  color: #ffffff;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.8);
  box-shadow: inset 0 1px 0 rgba(56, 8, 8, 0.1),
              0 2px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.buttonDelete:hover {
  background: linear-gradient(#ca3131, #3d0000);
  background-image: 
    linear-gradient(#ca3131, #3d0000),
    repeating-linear-gradient(
      45deg,
      rgba(100, 5, 5, 0.05) 0,
      rgba(255,255,255,0.05) 2px,
      transparent 2px,
      transparent 4px
    );
  transform: translateY(-1px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.25);
}

#web-animation-api .text-xl {
  font-size: 1.5rem;
  color: currentColor;
  letter-spacing: 0.06em;
}