@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Roboto, Helvetica, sans-serif;
  width: 100%;
  height: 100%;
  min-width: 100%;
  overflow-x: hidden;
  background-color: #f8fafc;
}

.split-char {
  color: var(--hex-current-1);
  background-color: var(--hex-current-3);
  outline: 1px solid var(--hex-current-2);
  border-radius: .25rem;
}

li {
  cursor: pointer;
}

li:hover {
  text-underline-offset: 2px;
  text-decoration-line: underline;
}

.inputStyle {
  border: 1px solid rgb(127, 127, 127);
  width: 100%;
  border-radius: var(--radius-sm);
}

.inputStyle:focus {
  border: 1px solid #c53aef;
}

.buttonAdmin {
  border-radius: var(--radius-xl);
  color : white;
  width : 20%;
  height: 100%;
  font-size: var(--text-lg);
  cursor : pointer;
  box-shadow: var(--shadow-lg);
}

.buttonAdmin:hover {
  background-color: rgb(82, 236, 236);
}